html{width:100%;height:395%;}
body{background-color:#121416;margin:0;width:100%;height:100%;}
a:link{color:white;text-decoration:none;}
a:visited{text-decoration:none;color:white;opacity:0.5;}
a:hover{color:#E31B36;}
.nav{position:fixed;z-index:9;}
#ligne{content:'';display:block;position:fixed;height:100%;width:2px;background:#E31B36;bottom:0px;left:150px;top:0px;}
.nav img{position:absolute;width:80px;margin-top:70px;margin-left:111px;z-index:999;-webkit-transition:all 1s;transition:all 1s;z-index:999;}
.nav img:hover{transform:rotate(45deg);-webkit-transition:all 1s;transition:all 1s;}
.projet{width:100%;height:97%;position:relative;margin:0 auto;overflow:hidden;}
.carousel-cell{position:absolute;display:block;width:60%;height:75%;margin-left:25%;z-index:6;background-size:cover;background-repeat:no-repeat;background-position:50%, 50%;}
#carousel-cell{margin-top:20%;}
#carousel-cell2{margin-top:65%;}
#carousel-cell3{margin-top:110%;}
#carousel-cell4{margin-top:155%;}
.carousel-cellVertical{position:absolute;display:block;width:35%;height:100%;margin-left:33%;z-index:6;background-size:cover;background-repeat:no-repeat;background-position:50%, 50%;}
#carousel-cellVertical{margin-top:20%;}
#carousel-cellVertical2{margin-top:80%;}
#carousel-cellVertical3{margin-top:140%;}
#carousel-cellVertical4{margin-top:170%;}
.blocGris{position:absolute;background-color:#121416;width:100%;height:100%;margin-top:0%;margin-left:0%;}
.blocRose{position:absolute;background-color:#E31B36;width:44%;height:15%;box-shadow:2px 2px 12px black;}
#blocRose{margin-top:40px;margin-left:50%;}
#blocRose2{margin-top:40%;margin-left:20%;}
#blocRose3{margin-top:90%;margin-left:50%;}
#blocRose4{margin-top:130%;margin-left:20%;}
.bloctexte{position:absolute;left:20%;top:0%;z-index:9;}
.titre{font-size:3.7em;font-family:'Oswald', sans-serif;color:white;z-index:999;}
.texte{font-family:'Open Sans Condensed', sans-serif;color:white;margin-top:-10%;width:70%;}
.contact{width:100%;height:30%;margin:0 auto;background-color:#121416;position:relative;}
.informations{color:white;text-align:center;width:50%;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);line-height:80px;background-color:#121416;padding-top:2%;}
.titreContact{font-family:'Oswald', sans-serif;font-size:6.5em;}
.tel,.mail{font-family:'Open Sans Condensed', sans-serif;}
.tel{font-size:4.4em;color:#E31B36;}
.mail{font-size:2.6em;margin-top:-28px;}
.ligneContact:after{content:'';display:block;position:absolute;height:1100px;width:2px;background:#E31B36;bottom:0px;left:50%;}
.logos{position:absolute;right:0;bottom:0;}
.logos ul{margin-bottom:50px;}
.logos li{list-style:none;margin-bottom:10px;}
.logos img{width:30%;-webkit-transition:all 1s;transition:all 1s;}
.logos img:hover{width:50px;-webkit-transition:all 0.5s;transition:all 0.5s;}
@media only screen and (max-device-width:1024px) and (max-device-height:768px){html{height:350%;}
.carousel-cellVertical{width:45%;height:85%;margin-left:30%;}
#carousel-cellVertical{margin-top:25%;}
#carousel-cellVertical2{margin-top:90%;}
#carousel-cellVertical3{margin-top:155%;}
.carousel-cell{width:70%;height:60%;margin-left:20%;}
#carousel-cell{margin-top:30%;}
#carousel-cell2{margin-top:80%;}
#carousel-cell3{margin-top:130%;}
#carousel-cell4{margin-top:180%;}
}
@media only screen and (max-device-width:768px) and (max-device-height:1024px){html{height:180%;}
.carousel-cellVertical{width:45%;height:45%;margin-left:30%;}
#carousel-cellVertical{margin-top:25%;}
#carousel-cellVertical2{margin-top:90%;}
#carousel-cellVertical3{margin-top:155%;}
.carousel-cell{width:70%;height:35%;margin-left:20%;}
#carousel-cell{margin-top:30%;}
#carousel-cell2{margin-top:80%;}
#carousel-cell3{margin-top:130%;}
#carousel-cell4{margin-top:180%;}
}
@media only screen and (max-device-width:632px){html{height:100%;}
#ligne{left:100px;}
.nav img{width:130px;margin-left:35px;}
.projet{height:140%;}
.carousel-cell{width:75%;height:28%;margin-left:20%;}
#carousel-cell{margin-top:35%;}
#carousel-cell2{margin-top:90%;}
#carousel-cell3{margin-top:145%;}
#carousel-cell4{margin-top:200%;}
.carousel-cellVertical{width:50%;height:40%;margin-left:25%;}
#carousel-cellVertical{margin-top:30%;}
#carousel-cellVertical2{margin-top:110%;}
#carousel-cellVertical3{margin-top:190%;}
#carousel-cellVertical4{margin-top:170%;}
.texte{display:none;}
#blocRose{margin-top:30%;margin-left:60%;width:35%;}
#blocRose2{margin-top:70%;margin-left:15%;}
#blocRose3{margin-top:125%;margin-left:60%;width:35%;}
#blocRose4{margin-top:180%;margin-left:15%;}
.contact{height:70%;}
.titreContact{font-size:7em;}
.tel{font-size:5em;margin-top:28px;}
.mail{font-size:3em;margin-top:0px;}
.ligneContact:after{height:600px;top:0;}
.logos{right:44%;}
.logos ul{margin-bottom:100px;}
.logos li{margin-bottom:50px;}
.logos img{width:100%;}
.informations{top:30%;}
}
@media only screen and (max-device-width:736px) and (max-device-height:414px){.projet{height:230%;}
.carousel-cell{width:60%;height:70%;margin-left:20%;}
.carousel-cellVertical{width:40%;height:100%;margin-left:30%;}
}
@media only screen and (max-device-width:568px) and (max-device-height:320px){.projet{height:450%;}
.logos{display:none;}
}